 <% provide(:title,'管理员')%>

<div class="row">
    <div class="span10">
	    <%= render 'shared/top' %>
	        <div class="row">              
	            <div class="span10">                  
					    <%= render'shared/admin_information'%>				    					
	            </div>
	        </div>   
    </div>
    
    <div class="span2">
	    <%= render 'shared/personal' %>	
        <%= render 'shared/information' %>	              
	    <%= render 'shared/search' %>	       
    </div> 
</div>

