 <% provide(:title,'CIMS知识共享平台')%>

 <div class="row">
        <div class="span10">
        <%= render 'shared/top' %>
            <div class="row">
                <div class="span5">
                    <table class="table">
                        <tr>
                        <td>
                           <%= render 'shared/seven_more' %>
                           <%= render 'shared/seven' %>
                        </td>
                        </tr>
                    </table>                  
                </div>
                
                <div class="span5">
                     <table class="table">
                        <tr>
                        <td>
                           <%= render 'shared/works_more' %>
                           <%= render 'shared/works' %>
                        </td>
                        </tr>
                    </table> 
                
                </div>
            </div>

            <div class="row">
                <div class="span5">
                    <table class="table">
                        <tr>
                        <td>
                           <%= render 'shared/programmer_more' %>
                           <%= render 'shared/programmer' %>
                        </td>
                        </tr>
                    </table>                  
                </div>
                
                <div class="span5">
                     <table class="table">
                        <tr>
                        <td>
                           <%= render 'shared/fun_more' %>
                           <%= render 'shared/funs' %>
                        </td>
                        </tr>
                    </table> 
                
                </div>
            </div>

            <div class="row">
                <div class="span5">
                    <table class="table">
                        <tr>
                        <td>
                           <%= render 'shared/new_more' %>
                           <%= render 'shared/news' %>
                        </td>
                        </tr>
                    </table>                  
                </div>
                
                <div class="span5">
                     <table class="table">
                        <tr>
                        <td>
                           <%= render 'shared/old_more' %>
                           <%= render 'shared/olds' %>
                        </td>
                        </tr>
                    </table> 
                
                </div>
            </div>
		
        </div>

        <div class="span2">
	    <%= render 'shared/personal' %>	
        <%= render 'shared/information' %>	              
	    <%= render 'shared/search' %>	
        
        </div>      
</div>








