 <% provide(:title,'web开发')%>
<div class="row">
        <div class="span10">

        <%= render 'shared/top' %>
		    <%= render 'shared/javas' %>

        </div>



        <div class="span2">


	      <%= render 'shared/personal' %>	

        <%= render 'shared/information' %>	

          
	      
	      <%= render 'shared/search' %>	


         <%= render 'shared/tips' %>	



        </div>      
</div>








