<% provide(:title,'老生资源')%>

	 <div class="row">
		<div class="span10">
		    <%= render 'shared/top' %>
		    <%= render 'shared/old_shows' %>  
		</div>

		<div class="span2">
		    <%= render 'shared/personal' %> 
		    <%= render 'shared/information' %>          
		    <%= render 'shared/search' %>   
		</div>      
</div>