<% provide(:title,'互联网产品')%>

	 <div class="row">
		<div class="span10">
		    <%= render 'shared/top' %>
		    <%= render 'shared/products' %>  
		</div>

		<div class="span2">
		    <%= render 'shared/personal' %> 
		    <%= render 'shared/information' %>          
		    <%= render 'shared/search' %>   
		    <%= render 'shared/tips' %> 
		</div>      
	</div>