 <% provide(:title,'搜索结果')%>

 <div class="row">
        <div class="span10">
            <%= render 'shared/top' %>
            <%= render 'shared/searchresult' %>	
        </div>

        <div class="span2">
	    <%= render 'shared/personal' %>	
            <%= render 'shared/information' %>	              
	    <%= render 'shared/search' %>		
        </div>      
</div>








