


<div class="row">

  <div class="span4">
    <h3 align="center">登录</h3>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
   
    <% end %>
  </div>
  <div class="span8">
    <div class="hero-unit">   
    <img src="assets/relation.png" alt="这是一张图片"/>
    </div>
   
  </div>





</div>
