<div class="row">
    <aside class="span4">

      <section>
        用户名：
        <%=@user.name%></br>
        <%=@user.email%>
      </section>
    </aside> 

    <div class="span8">
    	<%= link_to '发布知识',new_article_path,class: "btn btn-large btn-primary" %>	
      </br>
      <%=paginate @articles, :theme => 'twitter-bootstrap' %>
    	<ol>
      
      
			<%@articles.each do |t|%>
			<li>
      <%=link_to t.title,t %>   
      <span class="timestamp">
       发表于 <%= time_ago_in_words(t.created_at) %> ago.
      </span>
      </br>
			<%=link_to '编辑',edit_article_path(t) %>|
				<%= link_to '删除',article_path(t), method: :delete, data: { confirm: '确定删除?' } %>
   		</li>
      
       <%end%>
      </ol>   
    </div>
</div>

