<% provide(:title, '查看所有用户') %>

<div class="row">
        <div class="span10">
        <%= render 'shared/top' %>
            <div class="row">              
                <div class="span10">
                   <%= render 'shared/users_all' %>                    
                </div>
            </div>   
        </div>
        
        <div class="span2">
		    <%= render 'shared/personal' %>	
	        <%= render 'shared/information' %>	              
		    <%= render 'shared/search' %>	       
        </div> 
</div>



