<% provide(:title, 'Sign up') %>
<div class="row">
  <div class="span4">
    <%= form_for(@user) do |f| %>   
      <%= render 'shared/error_messages' %>
      <h3 align="center">注册</h3>
      <%= f.label :名字 %>
      <%= f.text_field :name %>

      <%= f.label :邮件 %>
      <%= f.text_field :email %>

      <%= f.label :密码 %>
      <%= f.password_field :password %>

      <%= f.label :密码确认%>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "注册", class: "btn btn-large btn-primary" %>
      <p><%= link_to "返回登录" , signin_path %></p>

    <% end %>
  </div>

  <div class="span8">
    <div class="hero-unit">   
   
    <h3 align="center">遇到未来的自己</h3>
    <img src="assets/relation.png" alt="这是一张图片"/>


    </div>
  </div>

</div>




