<section>   
	  <ul>    
	    <hr>
		<li><%=link_to '产品经理',pm_path%>(<%=@pms.count%>)</li>
		<li><%=link_to '知识管理',km_path%>(<%=@kms.count%>)</li>
		<li><%=link_to '时间管理',time_path%>(<%=@times.count%>)</li>
		<hr>

		<li><%=link_to '互联网产品',product_path%>(<%=@products.count%>)</li>
		<li><%=link_to '电子商务',ecommerce_path%>(<%=@ecommerces.count%>)</li>
		<li><%=link_to '移动互联网',mobile_path%>(<%=@mobiles.count%>)</li>


		<hr>
		<li><%=link_to '电影人生',movie_path%>(<%=@movies.count%>)</li>
		<li><%=link_to '思维逻辑',logic_path%>(<%=@logics.count%>)</li>
		<li><%=link_to '阅读空间',read_path%>(<%=@reads.count%>)</li>
		<li><%=link_to '生活感悟',life_path%>(<%=@lifes.count%>)</li>
		<hr>

		<li><%=link_to 'web开发',web_path%>(<%=@webs.count%>)</li>
		<li><%=link_to 'java学习',java_path%>(<%=@javas.count%>)</li>
		<li><%=link_to 'ruby学习',ruby_path%>(<%=@rubys.count%>)</li>
		<li><%=link_to '数据结构',data_path%>(<%=@datas.count%>)</li>









	  </ul>
</section>