<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "迈向产品经理", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">       
          <% if signed_in? %>
            <li><%= link_to "用户群", users_path %></li>
            <li><%= link_to "发布知识", articles_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                账户 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "资料显示", current_user %></li>
                <li><%= link_to "设置更新", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "退出", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
                
                <li><%= link_to "关于作者", about_url%></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
               <!--  <li><a href="http://localhost:3000/about">关于作者&nbsp;&nbsp;&nbsp;</a></li> -->
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
